<header class="header">
    <h1 class="header-heading">
     <a href="{% url "contact:index" %}" class="header-link">Agenda</a>
 </h1> 
 <nav class="menu">
     <ul class="menu-list">
        {% if user.is_authenticated %}
         <li class="menu-item">
             <a href="{% url "contact:create" %}" class="menu-link">Adicionar Contato</a>
         </li>
         <li class="menu-item">
            <a href="{% url "contact:login" %}" class="menu-link">Perfil</a>
        </li>
        <li class="menu-item">
            <a href="{% url "contact:logout" %}" class="menu-link">Deslogar</a>
        </li>
        {% else %}
        <li class="menu-item">
            <a href="{% url "contact:login" %}" class="menu-link">Login</a>
        </li>
        <li class="menu-item">
            <a href="{% url "contact:register" %}" class="menu-link">Cadastrar</a>
        </li>
        {% endif %}
     </ul>
 </nav>
 {% if user.is_authenticated %}
 <div class="search">
     <form action="{% url "contact:search" %}" method="GET">
         <input type="text" class="search-input" placeholder="Pesquisa" id="search" name="q" value="{{request.GET.q.strip}}">
     </form>
 </div>
 {% endif %}
 </header>