{% extends 'global/base.html' %}

{% block content %}
  <div class="form-wrapper">

    <h2>Login</h2>
    {% if user.is_authenticated %}
    <div class="contact-login">
      <p class="login-message">Seja bem vindo <span class="username">{{user.username}}</span>, oque deseja fazer ?</p> 
    </div>   
      <div class="user-buttons">
        <a href="{% url "contact:user_update" %}" class="update-buttom btn table-link">Atualizar perfil</a>
      </div>
    {% else %}
    {% include "contact/partials/_user-form.html" %}
    {% endif %}
  </div>
{% endblock content %}