{% extends 'global/base.html' %}

{% block content %}
  <div class="form-wrapper">

    <h2>Login</h2>
    {% if user.is_authenticated %}
      <p>
        Você está logado com o usuário {{user.username}}
      </p>
      <div class="user-buttons">
        <a href="{% url "contact:user_update" %} class="update-buttom"">Atualizar</a>
        <a href="{% url "contact:logout" %} class="delete-buttom"">Deletar</a>
      </div>
    {% else %}
    {% include "contact/partials/_user-form.html" %}
    {% endif %}
  </div>
{% endblock content %}